<button class="btn btn-primary" @onclick="InitializeBarcodeScanner">Scan</button>

<div id="barcodeScannerElement" style="@barcodeScannerElementStyle"></div>

<video id="vidBarCodeScanner" style="@barcodeVideoElementStyle"/>

@code {
    [Inject] IJSRuntime JS { get; set; }

    [Parameter] public EventCallback<string> OnUPCDetected { get; set; }

    string barcodeScannerElementStyle;
    string barcodeVideoElementStyle;

    private async Task InitializeBarcodeScanner()
    {
        barcodeScannerElementStyle = string.Empty;
        barcodeVideoElementStyle = string.Empty;
        var dotNetObjectReference = DotNetObjectReference.Create(this);
        //await JS.InvokeVoidAsync("InitBarcodeScanner", dotNetObjectReference);
        await JS.InvokeVoidAsync("InitBarcodeScan", dotNetObjectReference);
        
    }

    [JSInvokable]
    public async Task OnDetected(string upc)
    {
        barcodeVideoElementStyle = "display:none;";
        await OnUPCDetected.InvokeAsync(upc);
    }
}